
body{
    background-color: var(--secondary);
    color: var(--text);
}
.my-primary{
    background-color: var(--primary);
    color: var(--text);

}
.my-secondary{
    background-color: var(--secondary);
    color: var(--text);
}
