/* primary -- dark gray */
.primary {
  background-color: var(--primary);
}

/* text -- white */
.text {
  color: var(--text);
}

/* secondary -- light gray */
.secondary {
  background-color: var(--secondary);
}

/* tabs button color -- white */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: var(--text);
}

/* buttons color -- blue */
.button {
  background-color: var(--buttons);
}

/* tab -- icons */
.MuiTab-iconWrapper {
  margin-right: 10px;
}

/* global font -- baloo 2 */
.font {
  font-family: "Baloo 2", sans-serif;
}

/* heading - 2 */
.chat-name {
  font-weight: 600;
}

.privacy-policy-content p {
  margin-top: 10px;
  font-size: 16px;
}

.privacy-policy-content ul {
  margin-top: 10px;
  padding-left: 20px;
}

.privacy-policy-content li {
  margin-top: 5px;
  font-size: 16px;
}

/* username font weight -- 600 */
.chat-name {
  font-weight: 600;
}

/* settings icon height -- 100% */
.css-kp9ftd-MuiIcon-root .MuiSvgIcon-root {
  height: 100%;
}

.css-heg063-MuiTabs-flexContainer {
  display: flex;
  justify-content: space-evenly;
}

.swiper-slide {
  width: "100%";
}

.maplibregl-canvas {
  border-radius: 1rem;
}

.swiper-button-next {
  background: #2f80f0;
  padding-block: 50px;
  margin-right: -14px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-inline: 20px;
}

.swiper-button-prev {
  background: #2f80f0;
  padding-block: 50px;
  padding-inline: 20px;
  margin-left: -14px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev::after {
  color: white;
}

.swiper-button-next::after {
  color: white;
}

.maplibregl-ctrl-bottom-right {
  display: none;
}

.map-container {
  position: relative;
  width: 100%;
  height: 760px;
  overflow: hidden; /* This will hide anything that goes outside the container */
}
