body {
  background-color: var(--secondary);
  color: var(--text);
}

.primary {
  background-color: var(--primary);
}

.text {
  color: var(--text);
}

.secondary {
  background-color: var(--secondary);
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: var(--text);
}

.button{
  background-color: var(--buttons);
}